@use 'variables' as *;

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 5px;
}

.search {
  &__input-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid $color-border;
    border-radius: $border-radius-base;
    font-size: 1em;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  &__status {
    padding: 10px;
    color: $color-text-subtle;
    font-style: italic;
    text-align: center;
  }

  &__clear-btn {
    position: absolute;
    right: 10px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: #999;

    &__clear-icon {
      width: 12px;
      height: 12px;
      display: block;
    }

    &:hover {
      color: #555;
    }
  }

  &__dropdown {
    position: relative;
    top: 115%;
    left: 0;
    right: 0;
    z-index: 10;

    background: $color-white;
    border: 1px solid $color-border;
    border-radius: $border-radius-base;
    box-shadow: $shadow-card;

    max-height: 130px;
    overflow-y: auto;
  }

  &__results-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
      background-color: $hover-color;
    }

    &--highlighted {
      background-color: $highlight-color;
    }
  }

  &__icon-wrapper {
    margin-right: 10px;
    flex-shrink: 0;
  }

  &__icon-wrapper img,
  &__icon-wrapper svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
}
