@use 'variables' as *;
@use 'form';
@use 'search';
@use 'toast';

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: $color-grey-light; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
